<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TruongViet.UnimOs.Entity.Properties.Settings.UnimOsConnectionString"
     connectionString="Data Source=192.168.1.186;Initial Catalog=UnimOs;Persist Security Info=True;User ID=tv"
     providerName="System.Data.SqlClient" />
    <add name="TruongViet.UnimOs.Entity.Properties.Settings.UnimOsConnectionString1"
     connectionString="Data Source=truongviet-pc,1433;Initial Catalog=UnimOs;User ID=tv"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup/>
</configuration>
