<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUnimOsService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2196/UnimOsService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IUnimOsService" contract="wsUnimOs.IUnimOsService"
        name="WSHttpBinding_IUnimOsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>