<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UnimOs.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<UnimOs.UI.Properties.Settings>
			<setting name="KQHT_XepLoaiTotNghiepID" serializeAs="String">
				<value>KQHT_XepLoaiTotNghiepID</value>
			</setting>
			<setting name="TenXepLoai" serializeAs="String">
				<value>TenXepLoai</value>
			</setting>
			<setting name="IDDM_NamHoc" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="HocKy" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="PageDefault" serializeAs="String">
				<value>ribbonPageQLTaiChinh</value>
			</setting>
			<setting name="TC_InKhiLuu" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Host" serializeAs="String">
				<value>103.28.36.63</value>
			</setting>
			<setting name="DatabaseName" serializeAs="String">
				<value>nhsvh5vs_UnimOs</value>
			</setting>
			<setting name="UserName" serializeAs="String">
				<value>nhsvh_unimos</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>hncte@123</value>
			</setting>
			<setting name="DuongDanThuMucBaoCao" serializeAs="String">
				<value>D:\BaoCaoUnimOs</value>
			</setting>
		</UnimOs.UI.Properties.Settings>
	</userSettings>
	<startup>
	<supportedRuntime version="v2.0.50727"/></startup>
</configuration>
